// regular
@font-face {
  font-family: "JetBrainsMono Nerd Font";
  font-style: normal;
  //   font-weight: 400;
  src: local("JetBrainsMono Nerd Font Regular"),
    url("JetBrains Mono Regular Nerd Font Complete.ttf") format("truetype");
}
